{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    {{- if .imageUrl -}}
    <img src="{{ .imageUrl }}" alt="{{ .imageTitle | default " profile image" }}"
    width="{{ .imageWidth | default 150 }}"/>
    {{- end }}
    <section class="entry-content">
        <p>{{ .Content | markdownify }}</p>
    </section>
    <footer class="entry-footer">
        {{ partial "social_icons.html" $.Site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
